<% @marker = create_marker %>
<%= form_for @marker, :html => {:class => "marker_form", :id => "info_window_form"}  do |f| %>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% @marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.text_field :lat, :id => 'latitude_field' %><br>
    <%= f.text_field :lon, :id => 'longitude_field' %><br>
    <%= f.submit %>
  </div>
<% end %>
