<p id="notice"><%= notice %></p>

<h1>All Markers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= link_to marker.title, marker %></td>
        <td><%= marker.description %></td>
        <% if User.find_by(id: marker.user_id).nil? %>
          <td>Anonymous</td>
        <% else %>
          <td><%= User.find_by(id: marker.user_id).name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path %>
